/ {
	aliases {
		led0 = &led0;
	};

	chosen {
		zephyr,display = &st7789v;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			label = "Green LED 0";
		};
	};
};

&spi3 {
	st7789v: st7789v@0 {
		compatible = "sitronix,st7789v";
		spi-max-frequency = <20000000>;
		reg = <0>;
		cmd-data-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;

		/*** Select lines on one of these blocks ***/

		/* Portrait */
		/* width = <135>; */
		/* height = <240>; */
		/* x-offset = <52>; */
		/* y-offset = <40>; */
		/* mdac = <0x08>; /* ST7789V_MADCTL_BGR */

		/* Landscape */
		width = <240>;
		height = <135>;
		x-offset = <40>;
		y-offset = <52>;
		mdac = <0xA8>; /* ST7789V_MADCTL_BGR */


		vcom = <0x28>;
		gctrl = <0x35>;
		vrhs = <0x10>;
		vdvs = <0x20>;
		gamma = <0x01>;
		colmod = <0x55>;
		lcm = <0x0C>;
		porch-param = [0C 0C 00 33 33];
		cmd2en-param = [5A 69 02 01];
		pwctrl1-param = [A4 A1];
		pvgam-param = [D0 00 02 07 0A 28 32 44 42 06 0E 12 14 17];
		nvgam-param = [D0 00 02 07 0A 28 31 54 47 0E 1C 17 1B 1E];
		ram-param = [00 E0];
		rgb-param = [CD 08 14];
	};
};

&pinctrl {
	spim3_default: spim3_default {
		group1 {
			pinmux = <SPIM3_SCLK_GPIO18>,
				 <SPIM3_CSEL_GPIO5>;
		};
		group2 {
			pinmux = <SPIM3_MOSI_GPIO19>;
			output-low;
		};
	};
};

